@keyframes run {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes flicker {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}

@keyframes zigzag {
  from { transform: rotate(0deg) rotateX(45deg) rotate(360deg); }
  to { transform: rotate(360deg) rotateX(45deg) rotate(0deg); }
}

@keyframes scale {
    0% { transform: scale(1); }
    33% { transform: scale(0.5); }
    66% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.run {
  animation: run 5s linear infinite;
}

.flicker {
  animation: flicker 2s infinite;
}

.scale {
  animation: scale 3s linear infinite;
  animation-play-state: running;
}

.zigzag {
  animation: zigzag 10s linear infinite;
}




/* Mobile resolution */
@media screen and (max-width: 1284px){
  #div-1 {
    position: relative;
  }

  @keyframes snowfall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(200vh);
    }
  }

  @keyframes bubble {
    0% { transform: translateY(200vh) scale(0); }
    100% { transform: translateY(-10vh) scale(1); }
  }
}