#button-container {
  position: fixed; /*buttons fixed on the left side */
  top: 10%; /*top margin */
  left: 10px; /* Positions the container to the left */
  display: flex;
  flex-direction: column; /* Aligns buttons in a column */
  gap: 10px; /*space */
}

#button-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#button-container button:hover {
  background-color: #0056b3;
}
