@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face {
    font-family: polkadot;
    src: url(PolkaDots-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#main {
    display: flex;
    height: 100vh;
}

#container {
    flex: 1;
    background-color: violet;
    display: block;
    z-index: 10;
}

#customization {
    text-align: center;
    font-size: x-large;
}

.div-font select {
    display: none;
}
select {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    width: 80%;
    height: 10%;
    font-size: larger;
    padding: 1%;
}

#font-input {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    font-size: larger;
    padding: 1%;
    width: 77%;
}

#textinput{
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    font-size: larger;
    padding: 1%;
    width: 77%;
}

#textinput:active{
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    font-size: larger;
    padding: 1%;
    width: 77%;
}

/* input[type="text"], textarea{
    background-color: rgb(244, 233, 190);
} */

#div-color {
    display: flex;
    align-items: center;
}

#font-color {
    margin: 0% 0% 0% 10%;
    font-size: larger;
    font-weight: bold;
}

#coloring {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 5%;
    width: 50%;
    height: 35px;
    font-size: larger;
}

#color {
    display: flex;
}

#div-bgcolor {
    display: flex;
    align-items: center;
}

#bg-color {
    margin: 0% 0% 0% 10%;
    font-size: larger;
    font-weight: bold;
}

#bgcoloring {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 5%;
    width: 50%;
    height: 35px;
    font-size: larger;
}

#div-speed {
    margin-top: 2%;
    margin-bottom: 2%
}

#btn-size {
    margin-top: 4%;
    margin-bottom: 4%;
}

#btn-speed {
    text-align: center;
}

#animation-speed {
    margin-left: 10%;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
}

button {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin-left: 10%;
    font-size: larger;
    padding: 1% 9% 1% 9%;
}

#increase {
    margin-right: 0;
}

#decrease {
    margin-left: 4%;
}
#fullscreen {
    text-align: center;
}
#fullscreen-btn {
    padding: 1% 7% 1% 7%;
    /* position: relative;
    left: 20%; */
}

#start {
    margin-top: 50%;
    margin-bottom: 3%;
    text-align: center;
}
/* 
#start-btn {
    padding: 1% 10% 1% 11%;
    margin-bottom: 5%;
    position: relative;
    left: 20%;
    margin-top: 30%;
} */

#reset {
    /* position: relative;
    left: 20%;
    margin-top: 70%; */
    text-align: center;
}

#menu {
    background-color: transparent;
    color: palevioletred;
    border: none;
    padding: 0% 0% 0% 0%;
    font-size: xx-large;
    position: absolute;
    top: 0%;
    left: 16%;
}
#menu:hover {
    cursor: pointer;
}

#screen {
    flex: 3;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-1{
    width: auto;
    height: auto;
}

@media screen and (max-width: 1284px) {
    body {
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: brown;
    }
    #main {
        display: block;
        overflow: auto;
        width: 100vw;
    }
    #menu {
        display: none;
    }
    #container {
        order: 2;
        background-color: brown;
                
    }
    #start {
        margin-top: 3%;
    }
    #screen {
        order: 1;
    }
}