body {
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
}

#container {
    flex: 1;
    background-color: violet;
    display: block;
}
#customization {
    text-align: center;
    font-size: x-large;
}
.div-font {
    position: relative;
}
.div-font select {
    display: none;
}
select {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    width: 80%;
    height: 10%;
    font-size: larger;
    padding: 1%;
}

#font_input {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 10%;
    font-size: larger;
    padding: 1%;
}

#font_colors {
    margin: 3% 0% 2% 10%;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
}

#coloring {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin: 2% 0 2% 5%;
    width: 50%;
    height: 35px;
    font-size: larger;
}

#screen {
    flex: 3;
    background-color: black;
}

#font_input {
    width: 156.5px;
}
#color {
    display: flex;
}

#div-speed {
    margin-top: 2%;
    margin-bottom: 2%
}

#btn-size {
    margin-top: 4%;
    margin-bottom: 4%;
}

#animation-speed {
    margin-left: 10%;
    font-size: larger;
    font-weight: bold;
    padding: 1%;
}

button {
    background-color: rgb(244, 233, 190);
    border-radius: 5px;
    margin-left: 10%;
    font-size: larger;
    padding: 1% 9% 1% 9%;
}

#increase {
    margin-right: 0;
}

#decrease {
    margin-left: 4%;
}

#fullscreen-btn {
    padding: 1% 5% 1% 5%;
    position: relative;
    left: 20%;
}

#reset {
    position: relative;
    left: 20%;
    margin-top: 70%;
}

#p-1 {
    font-size: 200px;
}



/* Animation */
.run {
    animation: scrolling 3s linear infinite;
    animation-play-state: running;
} 

@keyframes scrolling {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

.flicker {
    animation: flickering 2s linear infinite;
    animation-play-state: running;
} 

@keyframes flickering {
    0% { 
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(217, 0, 255),
        0 0 82px rgb(217, 0, 255),
        0 0 92px rgb(217, 0, 255),
        0 0 102px rgb(217, 0, 255);
     }
     50% {
    text-shadow:
        0 0 7px #fff,
        0 0 42px rgb(217, 0, 255),
        0 0 82px rgb(217, 0, 255);
    }
    100% {
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(217, 0, 255),
            0 0 82px rgb(217, 0, 255),
            0 0 92px rgb(217, 0, 255),
            0 0 102px rgb(217, 0, 255);
         }
     
}