#main {
    display: flex;
}

#container {
    flex: 1;
    background-color: brown;
}

#screen {
    flex: 3;
    background-color: black;
}
#font_input{
    width: 156.5px;
}
#color{
    display: flex;
    flex-direction: column;
}