/* Import Fonts */
@import url(https://fonts.googleapis.com/css?family=Lobster);

#body {
    background-color: black;
    overflow: hidden;
}

#div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
    overflow: hidden;
}

#span-1 {
    color: red;
    font-size: 300px;
    white-space: nowrap;
    font-family: lobster;
}

.run {
    animation: scrolling 3s linear infinite;
    animation-play-state: running;
}   

#btn-1 {
    background-color: rgb(239, 141, 209);
    color: black;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
}

#btn-fullscreen {
    background-color: aquamarine;
    color: black;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
}

@keyframes scrolling {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}