@import url(https://fonts.googleapis.com/css?family=Lobster);
@font-face {
    font-family: polkadot;
    src: url(PolkaDots-Regular.ttf);
}

#body {
    background-color: black;
    overflow: hidden;
}

#div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}

/* Text Gradient */
#p-1 {
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent; */
    color: red;
    font-size: 300px;
    white-space: nowrap;
    font-family: polkadot;
}

.run {
    animation: scrolling 3s linear infinite;
    animation-play-state: running;
}   

#btn-1 {
    background-color: rgb(242, 154, 215);
    color: black;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
}
#btn-2 {
    color: transparent;
  }

#btn-fullscreen {
    background-color: rgb(227, 151, 204);
    color: black;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
  }

#btn-increase, #btn-decrease, #btn-style {
    background-color: rgb(246, 158, 192);
    color: black;
    font-size: small;
    padding: 3px;
    border-radius: 3px;
}

@keyframes scrolling {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}